<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- Compressed CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css"
      crossorigin="anonymous"
    />

    <!-- Compressed JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js"
      crossorigin="anonymous"
    ></script>

    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>

    <meta
      name="description"
      content="List of rooms and their occupancy status"
    />
  </head>
  <body>
    <main>
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Room Occupancy</li>
          </ul>
        </div>
      </div>
      <div class="main-content">
        <div class="over-bar">
          <a id="toggle-room-form" class="button" data-open="room-form-modal"
            >Add Room</a
          >
          <a id="refresh-button" class="button">Refresh</a>
        </div>
        <div
          id="room-tables"
          class="main-table"
          hx-get="{{ .PartialTablePath }}"
          hx-trigger="load, every {{ .PartialTableRefreshInterval }}, click from:#refresh-button"
          hx-swap="innerHTML"
        >
          Loading
        </div>
      </div>
      <div class="reveal" id="room-form-modal" data-reveal>
        <h2>Add Room</h2>
        <form>
          <div class="row">
            <div class="large-12">
              <label> Name </label>
              <input name="name" type="text" placeholder="Name of the room" />
            </div>
          </div>
          <div class="room-form-bottom">
            <button
              class="button"
              type="submit"
              hx-post="/forms/rooms"
              hx-swap="none"
            >
              Confirm
            </button>
          </div>
        </form>
        <button
          class="close-button"
          data-close
          aria-label="Close form"
          id="room-form-close-button"
          type="button"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </main>
  </body>
  <style>
    .main-content {
      padding: 1rem 3rem;
      width: 100vw;
      height: 100vh;
    }

    .main-table {
      width: 100%;
    }

    .over-bar {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }

    .room-form-bottom {
      display: flex;
      flex-direction: row-reverse;
    }

    .room-form-body {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  </style>
  <script>
    $(document).foundation();

    document.body.addEventListener('htmx:afterRequest', function (evt) {
      if (evt.detail.pathInfo.requestPath.includes('/forms/rooms')) {
        $('#room-form-close-button').trigger('click');
      }
    });
  </script>
</html>
