<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- Compressed CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css"
      crossorigin="anonymous"
    />

    <meta
      name="description"
      content="List of rooms and their occupancy status"
    />
  </head>
  <body>
    <main>
      <div class="main-content">
        <div class="over-bar">
          <h1>Room Occupancy</h1>
          <a id="refresh-button" class="button">Refresh</a>
        </div>
        <div
          id="room-tables"
          class="main-table"
          hx-get="{{ .PartialTablePath }}"
          hx-trigger="load, every {{ .PartialTableRefreshInterval }}, click from:#refresh-button"
          hx-swap="innerHTML"
        >
          Loading
        </div>
      </div>
    </main>

    <!-- Compressed JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <script src="index.js"></script>
  </body>
  <style>
    .main-content {
      padding: 3rem 3rem;
      width: 100vw;
      height: 100vh;
    }

    .main-table {
      width: 100%;
    }

    .over-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  </style>
</html>
